.body
{
	margin: 0px;
}
.ikona
{
	width: 210px;
	height: 45px;
	position: fixed;
	margin-top: 2px;
	margin-left: 2px;
}
.header
{
	background-color: white;
	width: 100%;
	box-shadow: 0px -5px 20px;
        position: fixed;
	z-index: 1;
	opacity: 0.98;
}
.menu
{
	background-color: white;
	font-size: 18px;
	text-align: right;
	margin-left: 100px;
	height: 50px;
}
.menu > li
{
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.menu a 
{
	color: black;
	text-decoration: none;
        text-align: center;
	transition-duration: 0.4s;
	display: block;
}
.menu a:hover
{
	color: #5ca553;
        transform: scale (1,04);
        z-index: 0;
}
.tlo
{
        background-image:url(tlot.jpg);
	background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(2px);
	z-index: -1;
	width: 100%;
	opacity: 0,9;
	padding-top: 400px;
	left: 0;
        right: 0;
}
.onas
{
        text-shadow: 1px 1px 15px black;
	position: relative;
        z-index: 0;
	bottom: 150px;
	width: 800px;
	text-align: center;
	color: #EFEFEF;
	margin: 0 auto;
	opacity: 0.93;
}
.tlor
{
	position: relative;
}
.ciek
{
	margin-left: 100px;
}
.ciek h1
{
	font-size: 30px;
}
.mapa
{
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.gallery
{
  margin: 50px;
  border-radius: 10px;
  border: 5px solid #5ca553;
  float: left;
  width: 360px;
  transition: transform .5s;
}

.gallery img
{
  width: 100%;
  height: auto;
}

.opis2
{
  font-family: Arial;
  padding: 15px;
  text-align: center;
  text-size: 45px;
}
.opism
{
  font-family: Arial;
  padding: 15px;
  text-align: center;
  text-size: 15px;
}
   .gallery:hover
{
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
